*.pyc
*.ckpt
*.pt
*.zip
*.egg-info/

v.mp4
models/optical_flow/opticalflow.py
1.py
*.gif

data/KTH/processed/
data/KTH/raw/
videos/val/
.vscode
lightning_logs
logs_training/*/checkpoints
logs_training/*/videos
logs_training/*/wandb
